
/* Normal
*********************************************************************************************/

.row {
    width: 100%;
    overflow: hidden;
}

.row .one-quarter, .row .three-quarters {
    float: left;
    min-height: 1px;
    padding: 0 1.25rem;
}

.row .one-quarter {
    width: 100%;
}

.row .three-quarters {
    width: 100%;
}


/* XL
*********************************************************************************************/
@media (min-width: 72.5rem) {
    
    .row {
        max-width: 960px;
    }
    
}
/* L
*********************************************************************************************/

@media (min-width: 51.25rem) {

    
}

/* M
*********************************************************************************************/

@media (min-width: 40rem) {

    
}

/* S
*********************************************************************************************/

@media (min-width: 30rem) {

    .row .one-quarter {
        width: 25%;
    }

    .row .three-quarters {
        width: 75%;
    }
    
}
